services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    container_name: frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8001:8000"
    container_name: backend
